.goods {
  display: block;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin: 1px 0;

    @include for-tablet {
      display: flex;
      flex-direction: row;
      gap: 1px;
      margin: 1px 0;
    }

    @include for-desktop {
      flex-direction: row;
      display: flex;
      gap: 1px;
      margin: 1px 0;
    }
  }

  &__item-3 {
    @include for-tablet {
      width: 33.33%;
    }

    @include for-desktop {
      width: 33.33%;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: #ffffff;
  }

  &__img {
    object-fit: cover;
  }

  &__name {
    padding: 10px;
    font-weight: lighter;
    font-size: 16px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.631372549);
    transition: background-color var(--time-trasform) var(--timing-function),
      color var(--time-trasform) var(--timing-function),
      box-shadow var(--time-trasform) var(--timing-function);

    &:hover,
    &:focus {
      background-color: rgb(52 141 243 / 49%);
      font-size: 20px;
    }

    @include for-tablet {
      font-size: 20px;
    }

    @include for-desktop {
      font-size: 20px;
    }
  }
}
